@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "../../../src/styles/_variaveis.scss";
@import "../../../src/styles/_breakpoints.scss";

  .cardapio {
    &__filtros {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      width: 100%;
    }
  }