@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body{
  font-family: 'Italiana', serif;
}
*{
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}